@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    background-color: #2980b9;
    background: linear-gradient(215deg, #71b073 29.9%, #2776aa 80%), linear-gradient(304deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%), linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%), linear-gradient(145deg, #f4df26 15.9%, #ff1b9a 40%);  
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
  }

  
:root {
    font-size: calc( 1rem + (60 - 30) * ( (100vw - 400px) / ( 2000 - 400)));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden; 
}

.calculator {
    padding: 10px;
    border-radius: 0em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #232425;
    box-shadow: rgba(68, 40, 40, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}
#btn {
    background-color: #fb0036;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #31278f;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
