:root {
    --dark: #666974;

    --label: rgb(182, 176, 176);
}



body {
    background-color: var(--dark);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s ease;
    font-family: 'Silkscreen', cursive;
    margin:0 auto; 
}

.button {
    position: absolute;

    width: 250px;
    height: 100px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    background-color: var(--label);
    border-radius: 10px;
    padding: 5px;
    
}

.ball {
    position: absolute;

    width: 90px;
    height: 82px;

    top: 12px;
    right: 10px;

    border-radius: 10px;
    background-color: white;

    transition: .6s;
    cursor: pointer;
}

.off {
    position: absolute;

    color:#389b11;
    font-size: 40px;


    top: 25px;
    left: 10px;

    width: 120px;
    height: 120px;

}


.on {
    position: absolute;

    color:#389b11;
    font-size: 40px;


    top: 25px;
    right: -33px;

    width: 120px;
    height: 120px;

}

#lamp{
    position: absolute;

    top: 20px;
    right: 44%;

    width: 160px;
    height: 200px;
}


#assinatura{
    position: absolute;

    bottom: 33%;
    right: 43%; 
}


body.active .ball {
    transform: translateX(-150px);
}

