/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

header h1 {
  margin-left: 16px;
}


header nav {
  display: flex;
  margin-right: 12px;
}

nav ul {
  display: none;
  gap: 1.5rem;
}

ul.show {
  width: 100vw;
  height: 100vh;

  display: grid;
  place-content: center;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #ffffff;
}

ul li {
  font-size: 1.5rem;
  text-align: center;
}

li a {
  color: #000000;
  position: relative;
}


li a.active {
  font-weight: 700;
  color: orangered;
}


.material-symbols-rounded {
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}


main {
  flex: 1;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

small {
  text-align: center;
}

small a {
  text-decoration: underline;
  color: #000000;
}